# 로컬 검증 후 k3d.yaml로 복사하고 실제 k3s 이미지 버전을 고정합니다.
apiVersion: k3d.io/v1alpha5
kind: Simple
metadata:
  name: iris-workload
servers: 1
agents: 1
ports:
  - port: 8080:80
    nodeFilters:
      - loadbalancer
# TODO: image: rancher/k3s:<검증한 버전>을 지정합니다.
